<!DOCTYPE html>
<html>
  <head>
    <title>quiest.loud</title>
    <link rel= "stylesheet" href="public/style.css"/>
  </head>
  <body>
    <h1><a href="/">Welcome Inroverts and Extroverts!</a></h1>
      {{{body}}}
  </body>
</html>
