<!DOCTYPE html>
<html>
  <head>
    <title>quiet.loud</title>
    <link rel= "stylesheet" href="public/style.css"/>
    <script src="public/js/app.js"></script>
  </head>
  <body>
    <h1><a href="/">Welcome Inroverts and Extroverts!</a></h1>
      <p>{{{body}}}</p>
  </body>
</html>
