<h2>{{personalities.name}}</h2>

<form action="/personalities/introvert/user_questions" method="POST">
    First name:<br>
    <input type="text" name="personality[firstname]">
    <br>
    Last name:<br>
    <input type="text" name="personality[lastname]">
    <br>

<h3>Asks Anything!</h3>
  <textarea name="personality[question]">Type Your Question!</textarea>
  <button type="submit">Ask!</button>
</form>
