<h2>{{personalities.name}}</h2>

<form action="/:name/forum" method="POST">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname">
    <br>

<h3>Asks Anything!</h3>
  <textarea question>Type Your Question!</textarea>
  <button type="submit"><a href="forum-show">Ask!</a></button>
</form>
