<h2>{{personalities.name}}</h2>

<form action="/{{personalities.name}}" method="POST">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname">
    <br>

<h3>Asks Anything!</h3>
  <textarea question"personalities[introvertquestions]">Type Your Question!</textarea>
</form>
  <br>

  <input type="submit">Ask!</button>
